@font-face { font-family: 'Cinzel Decorative'; src: url('../fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf'); }

body {
	margin: 0 auto;
	font-family: 'Cinzel Decorative', serif;
	background: #222;
}

.empty{
	background: #008000 !important;
}
.full{
	background: #ff0000 !important;
}

.content {
	width: 954px;
	height: 692px;
	margin: 50px auto;
	border: 1px solid #777777;
	border-radius: 5px;
	background-color: #242424;
	background-image: -webkit-radial-gradient(top, #817d79 0%, #141414 150%);
	background-image: radial-gradient(top, #817d79 0%, #141414 150%);
}

.stats {
	float: left;
	margin: 5px;
	width: 300px;
	height: 674px;
	padding: 3px;
	border: 1px solid #777777;
	border-radius: 5px;
	background-color: #111111;
}

.stats>* {
	color: #696969;
	margin: 5px;
}

.set {
	float: left;
	margin: 5px;
	width: 300px;
	height: 674px;
	padding: 3px;
	border: 1px solid #777777;
	border-radius: 5px;
	background: #111111 url('../images/character.png') no-repeat center;
}

.part {
	position: relative;
	width: 50px;
	height: 50px;
	border: 2px solid #222222;
	border-radius: 4px;
	text-align: center;
	line-height: 50px;
	background: rgba(100, 100, 100, 0.9) no-repeat center;
}

.pre-helmet {
	top: 65px;
	left: 120px;
	background-image: url('../images/pre-helmet.png');
}

.pre-armor {
	top: 130px;
	left: 120px;
	background-image: url('../images/pre-armor.png');
}

.pre-gloves {
	top: 180px;
	left: 230px;
	background-image: url('../images/pre-gloves.png');
}

.pre-shoes {
	top: 390px;
	left: 120px;
	background-image: url('../images/pre-shoes.png');
}

.pre-weapon {
	top: 80px;
	left: 20px;
	background-image: url('../images/pre-weapon.png');
}

.pre-talisman {
	top: -145px;
	left: 120px;
	background-image: url('../images/pre-talisman.png');
}

.inventory {
	float: left;
	margin: 5px;
	width: 300px;
	height: 674px;
	padding: 3px;
	border: 1px solid #777777;
	border-radius: 5px;
	background: #111111 url('../images/chest.png') no-repeat center;
}

.inventory > * {
	margin: 3px;
	float: left;
}

.locked {
	font-size: 24px;
	color: #cccccc;
}

.item {
	z-index: 99;
	width: 50px;
	height: 50px;
	border-radius: 4px;
}

.item > img {
	padding: 8px;
}

.bank {
	width: 290px;
	margin: 3px;
	border: 2px solid #444444;
	border-radius: 5px;
}

.gold > p {
	float: left;
	display: inline;
	color: #ffffff;
	line-height: 50px;
	margin: 5px;
}

.gold i {
	color: #ffd700;
}

.sell {
	margin: 5px;
	float: right;
	font-size: 24px;
	background: #222222;
	color: #ffd700;
	border-color: #ffd700;
}

.item:hover {
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5) inset, 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

.highlighted {
	border-color: #ffffff;
	box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5) inset, 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

.stat > * {
	display: inline;
}

.inventory-space {
	position: relative;
	float: right;
	top: 308px;
	margin: 5px;
	color: #777777;
}

.inventory-space > * {
	display: inline-block;
}

.BuyMoreSlots {
	-webkit-animation: 4s buyMoreSlots infinite;
	        animation: 4s buyMoreSlots infinite;
}

@-webkit-keyframes buyMoreSlots {
	0% {
		color: #777777;
	}
	50% {
		color: #ffffff;
	}
	100% {
		color: #777777;
	}
}

@keyframes buyMoreSlots {
	0% {
		color: #777777;
	}
	50% {
		color: #ffffff;
	}
	100% {
		color: #777777;
	}
}

@-webkit-keyframes buyMoreSlotsGreen {
	0% {
		color: #777777;
	}
	50% {
		color: #008000;
	}
	100% {
		color: #777777;
	}
}

@keyframes buyMoreSlotsGreen {
	0% {
		color: #777777;
	}
	50% {
		color: #008000;
	}
	100% {
		color: #777777;
	}
}

@-webkit-keyframes buyMoreSlotsYellow {
	0% {
		color: #777777;
	}
	50% {
		color: #ffff00;
	}
	100% {
		color: #777777;
	}
}

@keyframes buyMoreSlotsYellow {
	0% {
		color: #777777;
	}
	50% {
		color: #ffff00;
	}
	100% {
		color: #777;
	}
}

@-webkit-keyframes buyMoreSlotsRed {
	0% {
		color: #777777;
	}
	50% {
		color: #ff0000;
	}
	100% {
		color: #777777;
	}
}

@keyframes buyMoreSlotsRed {
	0% {
		color: #777777;
	}
	50% {
		color: #ff0000;
	}
	100% {
		color: #777777;
	}
}

/* ---------- ---------- ---------- TIP ---------- -------------------- */

.ui-tooltip {
	max-width: 800px !important;
	width: auto !important;
	margin: -1px !important;
	padding: 0 !important;
}

.tip,
.tip * {
	margin: -1px !important;
	padding: 0 !important;
	white-space: nowrap;
}

.TipItem {
	color: #dddddd;
	text-align: center;
	background: #000000;
	font-size: 15px;
}

.TipBar {
	position: relative;
	background: url('../images/tip-center.png') repeat-x top left;
	background-blend-mode: luminosity;
	height: 34px;
}

.TipBarL {
	background-image: url('../images/tip-left.png');
	background-blend-mode: luminosity;
	height: 34px;
	width: 29px;
	left: 1px;
	top: 1px;
	position: absolute;
}

.TipBarR {
	background-image: url('../images/tip-right.png');
	background-blend-mode: luminosity;
	height: 34px;
	width: 29px;
	right: 1px;
	top: 1px;
	position: absolute;
}

.Rarity-white .TipBar,
.Rarity-white .TipBarL,
.Rarity-white .TipBarR {
	background-color: #ffffff;
}

.Rarity-white .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #ffffff 40%, #ffffff 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #ffffff 40%, #ffffff 60%, transparent 90%);
}

.Rarity-green .TipBar,
.Rarity-green .TipBarL,
.Rarity-green .TipBarR {
	background-color: green;
}

.Rarity-green .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #008000 40%, #008000 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #008000 40%, #008000 60%, transparent 90%);
}

.Rarity-blue .TipBar,
.Rarity-blue .TipBarL,
.Rarity-blue .TipBarR {
	background-color: #000080;
}

.Rarity-blue .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #000080 40%, #000080 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #000080 40%, #000080 60%, transparent 90%);
}

.Rarity-yellow .TipBar,
.Rarity-yellow .TipBarL,
.Rarity-yellow .TipBarR {
	background-color: #ffd700;
}

.Rarity-yellow .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #ffd700 40%, #ffd700 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #ffd700 40%, #ffd700 60%, transparent 90%);
}

.Rarity-set .TipBar,
.Rarity-set .TipBarL,
.Rarity-set .TipBarR {
	background-color: #ee82ee;
}

.Rarity-set .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #ee82ee 40%, #ee82ee 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #ee82ee 40%, #ee82ee 60%, transparent 90%);
}

.Rarity-legendary .TipBar,
.Rarity-legendary .TipBarL,
.Rarity-legendary .TipBarR {
	background-color: #fa8072;
}

.Rarity-legendary .TipSeparator {
	background: -webkit-linear-gradient(left, transparent 10%, #fa8072 40%, #fa8072 60%, transparent 90%);
	background: linear-gradient(to right, transparent 10%, #fa8072 40%, #fa8072 60%, transparent 90%);
}

.TipTittle {
	font-family: 'Cinzel Decorative', serif;
	font-size: 18px;
	margin: 0 34px !important;
	line-height: 34px;
}

.TipEnchant {
	color: #1ba29b;
	padding: 5px 15px!important;
}

.TipStats {
	color: #8888ff;
	padding: 5px 15px!important;
}

.TipPrice {
	color: #ffd700;
	padding: 5px 15px!important;
}

.TipSeparator {
	height: 2px;
	margin: 1px 0;
}
